{% extends 'base.html.twig' %}

{% block title %}Edit Thematiques{% endblock %}

{% block body %}
        <h1>Edit Thematiques</h1>

        {{ include('thematiques/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="admin__link" href="{{ path('thematiques_index') }}">back to list</a>

        {{ include('thematiques/_delete_form.html.twig') }}
{% endblock %}
