{% extends 'base.html.twig' %}

{% block title %}New Thematiques{% endblock %}

{% block body %}
    <h1>Create new Thematiques</h1>

    {{ include('thematiques/_form.html.twig') }}
    <form action="doUpload" method="post" enctype="multipart/form-data">

        <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

        <div>
            <label>File to upload:</label>
            <input type="file" name="myfile">
        </div>

        <button type="submit">Send</button>

    </form>
    <a class="admin__link" href="{{ path('thematiques_index') }}">back to list</a>
{% endblock %}
