{% extends 'base.html.twig' %}

{% block title %}Créer une thématique{% endblock %}

{% block body %}
    <h1>Créer une thématique</h1>
    {{ include('thematiques/_form.html.twig') }}
    <a class="admin__link" href="{{ path('thematiques_index') }}">Retour</a>
{% endblock %}
