{% extends 'base.html.twig' %}

{% block title %}Succés{% endblock %}

{% block body %}

<div class="formulaire">
    <h1>Votre formulaire a bien été envoyé !</h1>
    <a href="{{ path('show_theme') }}">Retour à l'accueil</a>
</div>

{% endblock %}
