{% extends 'base.html.twig' %}

{% block title %}Éditer un atelier{% endblock %}

{% block body %}
    <h1>Éditer un atelier</h1>

    {{ include('meeting/_form.html.twig', {'button_label': 'Éditer'}) }}

    <a class="admin__link" href="{{ path('meeting_index') }}">Retour</a>

    {{ include('meeting/_delete_form.html.twig') }}
{% endblock %}
