{% extends 'base.html.twig' %}

{% block title %}Créer un atelier{% endblock %}

{% block body %}
    <h1>Créer un atelier</h1>

    {{ include('meeting/_form.html.twig') }}

    <a href="{{ path('meeting_index') }}">Retour</a>
{% endblock %}
