{% extends 'base.html.twig' %}

{% block title %}Éditer un sujet{% endblock %}

{% block body %}
    <h1>Éditer un sujet</h1>

    {{ include('subjects/_form.html.twig', {'button_label': 'Éditer'}) }}

    <a class="admin__link" href="{{ path('subjects_index') }}">Retour</a>

    {{ include('subjects/_delete_form.html.twig') }}
{% endblock %}
