{% extends 'base.html.twig' %}

{% block body %}
<html>
    <body>
        <section class="meetings__head">
            <div class="meetings_head-image">
                <img src="https://via.placeholder.com/170" alt="Meetings_images">
            </div>
            <div class="meetings__head-text">
                <h1>
                    Blockchain
                </h1>
                <div class="meetings__head-line"></div>
                <h2>
                    Theme
                </h2>
                <button type="submit">
                    button
                </button>
                <p>
                    20 personnes participent
                </p>
            </div>
            <div class="meetings__requirements">
                <h2>
                    Pré-requis
                </h2>
                <div class="meetings__head-line"></div>
                <p>
                    Pré-requis potentiel
                </p>
            </div>
        </section>
        <section class="meetings__description">
            <h2>
                Description
            </h2>
            <div class="meetings__head-line"></div>
            <p>
                Description potentiel
            </p>
        </section>
        <section class="meetings__schedule">
        <form>
             <div class="meetings_schedule-title">
                <h2>
                    Créneaux
                </h2>
            </div>
            <div class="meetings__head-line"></div>
            {% for i in 0..3 %}
            <div class="meetings__schedule__one">
                <input type="checkbox" id="date_one" name="date_one">
                <label for="date_one">
                    01/01/19 19h00
                </label>
            </div>
            {% endfor %}
            {{ form_start(form) }}
                {{ form_widget(form.date) }}
                <button type="submit">Rechercher</button>
            {{ form_end(form) }}
        </form>
        </section>
    </body>
</html>
{% endblock %}