.subject{
    text-align: center;
    font-family: Lato, sans-serif;
}
.subject__header {
    border-bottom: 0.1rem dotted #A7A64A;
    width: 80vw;
    padding-bottom: 4vw;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2vw;
}
.subject__description {
    margin-right: auto;
    margin-left: auto;
    width: 70vw;
}
.subject__card{
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 5vw auto;
}
.subject__show-more-icon, .subject__image{
    object-fit: contain;
    margin-top: 2vw;
}
.subject__link{
    margin-top: 2vw;
}
.subject__atelier-list{
    padding: 0;
}
main {
    margin-top: 13rem;
}
.subject__atelier-list {
    display: none;
}
.subject__link:focus + ul {
    display: block;
}
.subject__link + ul:active,
.subject__link:focus + ul {
    display: block;
}
.subject__cardDescription{
    text-align: center;
}
@media screen and (min-width: 1024px)
{
    .subject__allCards{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .subject__card{
        margin: 0;
        width: 25vw;
    }
    .theme__linkToSubject {
        display: block;
        width: 25vw;
    }
    .subject__card > h2 {
        margin-bottom: 0;
        margin-top: 5vw;
    }
    .subject__atelier-list {
        display: block;
    }
    .subject__link{
        display: none;
    }
}