.subject{
    text-align: center;
    font-family: Lato, sans-serif;
}
.subject__header {
    border-bottom: 0.1rem dotted #A7A64A;
    width: 80vw;
    padding-bottom: 4vw;
    margin-right: auto;
    margin-left: auto;
}
.subject__description {
    margin-right: auto;
    margin-left: auto;
    width: 70vw;
}
.subject__card{
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 5vw auto;
}
.subject__show-more-icon, .subject__image{
    object-fit: contain;
    margin-top: 2vw;
}
.subject__link{
    margin-top: 2vw;
}
.subject__atelier-list{
    padding: 0;
}

