@font-face
{
    font-family:"Lato";
    src: url("/fonts/lato/Lato-Light.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
@font-face
{
    font-family:"Lato-Regular";
    src:url("/fonts/lato/Lato-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face
{
    font-family:"Economica-Regular";
    src:url("/fonts/economica/Economica-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face
{
    font-family:"Economica-Bold";
    src:url("/fonts/economica/Economica-Bold.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face
{
    font-family:"Economica-BoldItalic";
    src:url("/fonts/economica/Economica-BoldItalic.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face
{
    font-family:"Economica-Italic";
    src:url("/fonts/economica/Economica-Italic.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}