:root {
    font-family: Lato,arial,sans-serif;
}
body , html {
    margin: 0;
}

h1, h2 {
    font-family: Economica-Regular, sans-serif;
    font-weight: normal;
    text-align: center;

}
h1:first-of-type {
    font-size: 1.8rem;
    letter-spacing: -0.05rem;
}
.subject__description {
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    font-weight: normal;
    font-family: Economica-Regular, sans-serif;
}
article h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: Economica-Bold;
    margin-bottom: 4vw;
    margin-top: 0;
    color: #1F1F1F;
}

p {
    font-family: Lato, sans-serif;
    color: #6F6F6F;
    text-align: center;
}
a {
    font-family: Lato-Reg, sans-serif;
    color: #111;
    text-decoration: none;
    text-align: center;
    display: block;
}
article h1 {
    font-family: Economica-Bold, sans-serif;
}
span {
    color : #A7A64A;
}

button {
    margin: 1vw auto;
}
form {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
form > div {
    display: flex;
    flex-direction: column;
}
input {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vw;
}
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;  /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;            /* 3 */
}

#thematiques_description, #subjects_description {
    height: 30vw;
}
.register__honeypot{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

@media screen and (min-width: 1024px) {
    #thematiques_description, #subjects_description{
        height: 7vw;
    }
}