:root
{
    font-family: Lato,arial,sans-serif;
}
body , html {
    margin: 0;
}

h1, h2{
    font-family: Economica-Regular, sans-serif;
    font-weight: normal;
    text-align: center;

}
h1:first-of-type{
    font-size: 1.8rem;
    letter-spacing: -0.05rem;
}
.subject__description {
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    font-weight: normal;
    font-family: Economica-Regular, sans-serif;
}
article h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: Economica-Bold;
    margin-bottom: 4vw;
    margin-top: 0;
    color: #1F1F1F;
}

p{
    font-family: Lato, sans-serif;
    color: #6F6F6F;
    text-align: center;
}
a {
    font-family: Lato-Reg, sans-serif;
    color : #1D1D1D;
    text-decoration: none;
    text-align: center;
    display: block;
}
article h1{
    font-family: Economica-Bold, sans-serif;
}
span {
    color : #A7A64A;
}
.admin__link{
    border: 1px solid #6F6F6F;
    width: 40vw;
    margin: 0.75vw auto;
}
button{
    margin: 1vw auto;
}
form{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#thematiques_description, #subjects_description{
    height: 30vw;
}
form > div > div {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 1vw auto;
}

@media screen and (min-width: 1024px) {
    .admin__link {
        width: 15vw;
        margin: 0.75vw auto;
    }
    form > div > div {
        width: 40vw;
    }
    #thematiques_description, #subjects_description{
        height: 7vw;
    }
}