{% extends 'base.html.twig' %}

{% block title %}Edit Meetings{% endblock %}

{% block body %}
    <h1>Edit Meetings</h1>

    {{ include('meetings/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('meetings_index') }}">back to list</a>

    {{ include('meetings/_delete_form.html.twig') }}
{% endblock %}
