{% extends 'base.html.twig' %}

{% block title %}New Meetings{% endblock %}

{% block body %}
    <h1>Create new Meetings</h1>

    {{ include('meetings/_form.html.twig') }}

    <a href="{{ path('meetings_index') }}">back to list</a>
{% endblock %}
