{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau sujet{% endblock %}

{% block body %}
    <h1>Créer un nouveau sujet</h1>

    {{ include('subject/_form.html.twig') }}

    <a class="admin__link" href="{{ path('show_theme') }}">Retour</a>
{% endblock %}
