{% extends 'base.html.twig' %}

{% block title %}Liste des sujets{% endblock %}

{% block body %}
    <ul>
    {% for subject in subjects %}
        <li class="subject__sorted">
            {{ subject.userName }}
        </li>
        <li class="subject__sorted--2">
            {{ subject.userNumber|length }}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
