{% extends "base.html.twig" %}
{% block title %}Les ateliers de Romain Clair{% endblock %}
{% block body %}
  <main class="subject">
    <!-- Here is the head of the content-->
    <header class = "subject__header">
      <h1 class="subject__title">Romain Clair, Formateur et Consultant en Informatique.</h1>
      <p class="subject__description">Romain Clair vous propose la solution pour participer, organiser, animer les ateliers sur des sujets variés sous le thème de l'informatique.</p>
    </header>
    <a href="/thematiques">Administrer les thématiques</a>
    <!-- Here is card with each subjects-->
    {% for theme in themes %}
      <a href="{{ path('list_subject') }}">
        <article class="subject__card">
          <h2>{{theme.name}}</h2>
          <img class="subject__image" src="https://via.placeholder.com/150" alt="placeholder for an illustration">
          <p>Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.</p>
        </article>
      </a>
    {% endfor %}
  </main>
{% endblock %}
