{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/themastyle.css">
{% endblock %}

{% block content %}
    {% if thema == false %}
       <section>
        <article>
          <h1>Développement</h1>
          <div class='Descriptif'>
          </div>
        </article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
    {% endfor %}
     </div>      
{% endblock %}

