

{% block stylesheet %}

{% endblock %}

{% block content %}
{% if theme == false %}
  <article>
    <div class="card">
      <img src="" alt="#" style="">
      <div class="container">
        <h4><b>Developpement</b></h4>
        <p>Voir plus</p>
      </div>
    </div>
  </article>
{% endif %}
     </div>      
{% endblock %}

