{% extends "base.html.twig" %}
{% block title %}Liste des sujets{% endblock %}

{% block body %}
    <div class="subject">
        <!-- Here is the head of the content-->
        <header class = "subject__header">
            <h1 class="subject__title">Titre de la thématique</h1>
            <p class="subject__description">Est Scaevola si rogati consuetudo et amici cum casus sanciatur oporteat neque nos Etenim se igitur et oporteat.</p>
        </header>
        <!-- Here is card with each subjects-->
        <div class="subject__allCards">
            {% for subject in subjects %}
                <article class="subject__card" {# id="card{{ i }}" #}>
                    <h2>Programmation en {{ subject.name }}</h2>
                    <img class="subject__image" src="https://via.placeholder.com/150" alt="placeholder for an illustration">
                    <p class="subject__cardDescription">{{ subject.description }}</p>
                    <button type="button" class="subject__link">Voir les sujets</button>
                    <ul class="subject__atelier-list">
                        {% for i in 0..3 %}
                            <a href="{{ path('show_meetings') }}"><li>item</li></a>
                        {% endfor %}
                    </ul>
                </article>
            {% endfor %}
        </div>
{% endblock %}
